

<head>
    <link rel="stylesheet" href ="{{ url_for('static',filename='css/mdb.min.css')}}">
    <link rel="stylesheet" href ="{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href ="{{ url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href ="{{ url_for('static',filename='css/custom.css')}}">
    {% block head %} {% endblock %}
    <a href="../"> <h1 class="display-1"style="text-align:center">CBIR WEB APP </h1></a>
</head>

<body>
    {% block body %} {% endblock %}

    {% block script %} {% endblock %}
</body>
